.introduction {
  background: linear-gradient(270deg, rgba(217, 217, 217, 0.00) 0%, rgba(0,0,0,0.5) 100%),
  url('/assets/images/introduction_backgroundimg.png') no-repeat center center;
  background-size: cover;
  .intro-title-box{
    color: #D9D9D9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .intro-text-box{
    margin-top: 25px;
    color: #D9D9D9;
    font-family: Joly;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    .line{
      width: 85px;
      margin-right: 20px;
      border: 1px solid #D9D9D9;
    }
  }
  color: white;
}


.jewelryMaking-container{
  .details-section{
    width: 100%;
    background: linear-gradient(to bottom, rgba(120, 84, 69, 0.2) 50%, transparent 50%);
  }
}

.rings-container{
  .details-section{
    width: 100%;
    background-color: rgba(120, 84, 69, 0.2);
    margin-top: 3rem;
    padding: 3rem;
  }
}

.counseling-container{
  width: 100%;
  margin-top: 3rem;
  //padding-top: 4rem;
  margin-bottom: 3rem;
  padding: 3rem;
}

.jeweleryRepairing-container{
  padding: 3rem;
  background-color: rgba(120, 84, 69, 0.2);
  .details-section{
    width: 100%;
    margin-top: 3rem;
  }
}


.goldAndJewelAcquisition-container {
  height: 570px; /* Ensure it matches the design */
  color: white;
  background: url('/assets/images/goldAndJewelAcquisition_img.png') no-repeat center center;
  background-size: cover;
  .text-container {
    text-align: center;
    .text{
      font-weight: 400;
      font-size: 24px;
      line-height: 42px;
    }

  }
  .title-container {

    text-align: center;
    .title{
      font-weight: 700;
      font-size: 72px;
      line-height: 78px;
    }
    .line{
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      margin-top: 1rem;
    margin-bottom: 1rem;
      border: 1px solid #D9D9D9;
    }
  }


}

.contact-container{
  background: linear-gradient(to top, rgba(120, 84, 69, 0.2) 50%, transparent 50%);
  padding: 3rem;
  .details-section{
    width: 100%;
    margin-top: 3rem;
  }
}

//előtte 776tól
//DESKTOP VIEW->
@media only screen and (min-width: 991px){
  img:hover{
    transition: 400ms;
    transform: translateX(7px) translateY(-7px);
    box-shadow: -10px 10px 10px rgba(0,0,0,0.5) ;
  }

  img{
    transition: 400ms;
  }

  .introduction{
    width: 100%;
    height: 616px;
    padding-left: 10rem;
    .intro-title-box{
      margin-top: 200px;
      width: 640px;
      height: 207px;
      font-size: 64px;
    }
  }

   .jewelryMaking-container{
    .details-section{
      display: flex;
      justify-content:center;
      //justify-content:space-evenly;
      align-items: center;
      .img-container{
        .title-mobile-view-container{
          display: none;
        }
        img{
          width: 100%;
          height: auto;
        }
        margin: 2rem;
      }
      .text-container{
        margin: 2rem;
        .title-container{
          height: 192px;
          width: 395px;
          margin-bottom: 4rem;
          .title{
            color: #785445;
            font-weight: 700;
            font-size: 56px;
            line-height: 64px;
          }
          .line{
            width: 200px;
            margin-right: 20px;
            margin-bottom: 20px;
            border: 1px solid #785445;
          }
        }
        .description-container{
          margin-top: 4rem;
          height: 201px;
          width: 395px;
          .description{
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
          }
        }
      }
    }
  }

  .rings-container{
    .details-section{
      display: flex;
      flex-direction: column;
      align-items: center;
      .img-container{
        .description-mobile-view-container{
          display: none;
        }
        img{
          width: 100%;
          height: auto;
        }
      }
      .text-container{
        max-width: 1035px;
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin-bottom: 2rem;
        .title-container{
          width: 30%;
          .title{
            color: #785445;
            font-weight: 700;
            font-size: 56px;
            line-height: 64px;
          }
          .line{
            width: 200px;
            margin-right: 20px;
            margin-bottom: 20px;
            border: 1px solid #785445;
          }
        }
        .description-container{
          width: 60%;
          .description{
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
          }
        }
      }
    }
  }

  .counseling-container{
    .details-section{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
      max-width: 1035px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      .img-container{
        .description-mobile-view-container{
          display: none;
        }
        img{
          width: 100%;
          height: auto;
        }
      }
      .text-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 480px;
        padding: 2rem;
        .title-container{
          width: 502px;
          .title{
            color: #785445;
            font-weight: 700;
            font-size: 56px;
            line-height: 64px;
          }
          .line{
            width: 200px;
            margin-right: 20px;
            margin-bottom: 20px;
            border: 1px solid #785445;
          }
        }
        .description-container{
          width: 502px;
          .description{
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
          }
        }
      }
    }
  }

  .jeweleryRepairing-container{
    .details-section{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
      max-width: 1035px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .img-container{
        .description-mobile-view-container{
          display: none;
        }
        img{
          width: 100%;
          height: auto;
        }
      }
      .text-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 480px;
        .title-container{
          width: 502px;
          .title{
            color: #785445;
            font-weight: 700;
            font-size: 56px;
            line-height: 64px;
          }
          .line{
            width: 200px;
            margin-right: 20px;
            margin-bottom: 20px;
            border: 1px solid #785445;
          }
        }
        .description-container{
          width: 502px;
          .description{
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
          }
        }
      }
    }
  }

  .contact-container{
    .details-section{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
      max-width: 1035px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .img-container{
        .description-mobile-view-container{
          display: none;
        }
        img{
          width: 100%;
          height: auto;
        }
      }
      .text-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 460px;
        .title-container{
          width: 502px;
          .title{
            color: #785445;
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
          }
          .line{
            width: 200px;
            margin-right: 20px;
            margin-bottom: 20px;
            border: 1px solid #785445;
          }
        }
        .description-container{
          width: 502px;
          .description{
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

//MOBILE VIEW->
@media only screen and (max-width: 990px) {
  .introduction{
    width: 100%;
    height: 474px;
    padding-left: 2rem;
    padding-right: 2rem;
    .intro-title-box{
      margin-top: 130px;
      width: 640px;
    height: 208px;
    max-width: 90%;
    //font-size: 48px;
    font-size: 42px;
    }
    .line{
      margin: 10px 0 15px 0
    }
  }

   .jewelryMaking-container{
    .details-section{
      background: linear-gradient(to bottom, rgba(120, 84, 69, 0.2) 50%, transparent 50%);
      .img-container{
        .title-mobile-view-container{
          margin-bottom: 2rem;
          height: 168px;
          .title{
            color: #785445;
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;
          }
          .line{
            width: 200px;
            margin-right: 20px;
            margin-bottom: 20px;
            border: 1px solid #785445;
          }
        }
        padding: 2rem;
        img{
          max-width: 339px;
          width: 100%;
          max-height: 415px;
          height: auto;
        }
      }
      .text-container{
        padding: 2rem;
        .title-container{
          display: none;
        }
        .description-container{
          height: 240px;
          //width: 340px;
          width: 100%;
          .description{
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
          }
        }
      }
    }
    .image-section{
      .img1, .img3{
        img{
          width: 338px;
          height: 401px
        }
      }
      .img2{
        img{
          width: 330px;
          height: 491px
        }

      }
    }
  }


  .rings-container{
    .details-section{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 2rem;
      padding-right: 2rem;
      .img-container{
        .description-mobile-view-container{
          margin-bottom: 2rem;
          .description{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
          }
        }
        img{
          margin-top: 2rem;
          margin-bottom: 2rem;
          max-width: 337px;
          width: 100%;
          max-height: 145px;
          height: auto;
        }
      }
      .text-container{
        .title-container{
          width: 30%;
          .title{
            color: #785445;
            font-weight: 700;
            font-size: 56px;
            line-height: 64px;
          }
          .line{
            width: 200px;
            margin-right: 20px;
            margin-bottom: 20px;
            border: 1px solid #785445;
          }
        }
        .description-container{
         display: none;
        }
      }
    }
  }

  .counseling-container{

    .details-section{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
      .img-container{
        .description-mobile-view-container{
          margin-bottom: 2rem;
          .description{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
          }
        }
        img{
          margin-top: 2rem;
          margin-bottom: 2rem;
          max-width: 339px;
          width: 100%;
          max-height: 403px;
          height: auto;
        }
      }
      .text-container{
        .title-container{
          width: 30%;
          .title{
            color: #785445;
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;
          }
          .line{
            width: 200px;
            margin-right: 20px;
            margin-bottom: 20px;
            border: 1px solid #785445;
          }
        }
        .description-container{
         display: none;
        }
      }
    }
  }

  .jeweleryRepairing-container{
    .details-section{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 2rem;
      padding-right: 2rem;
      .img-container{
        .description-mobile-view-container{
          margin-bottom: 2rem;
          .description{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
          }
        }
        img{
          margin-top: 2rem;
          margin-bottom: 2rem;
          max-width: 344px;
          width: 100%;
          max-height: 408px;
          height: auto;
        }
      }
      .text-container{
        .title-container{
          width: 30%;
          .title{
            color: #785445;
            font-weight: 700;
            font-size: 56px;
            line-height: 64px;
          }
          .line{
            width: 200px;
            margin-right: 20px;
            margin-bottom: 20px;
            border: 1px solid #785445;
          }
        }
        .description-container{
         display: none;
        }
      }
    }
  }

  .goldAndJewelAcquisition-container{

    .text-container{
      margin-top: auto !important;

      .text{
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
      }
    }
    .title-container{
      margin-bottom: auto !important;
      .title{
        font-weight: 700;
        font-size: 40px;
        line-height: 43px;
      }
    }
  }

  .contact-container{
    .details-section{
      display: flex;
      flex-direction: column;
      padding-left: 2rem;
      padding-right: 2rem;
      .img-container{
        .description-mobile-view-container{
          margin-bottom: 2rem;
          .description{
            font-weight: 400;
            font-size: 24px;
            line-height: 42px;
          }
        }
        img{
          margin-top: 2rem;
          margin-bottom: 2rem;
          max-width: 344px;
          width: 100%;
          max-height: 408px;
          height: auto;
        }
      }
      .text-container{
        .title-container{
          width: 30%;
          .title{
            color: #785445;
            font-weight: 700;
            font-size: 42px;
            line-height: 64px;
          }
          .line{
            width: 200px;
            margin-right: 20px;
            margin-bottom: 10px;
            border: 1px solid #785445;
          }
        }
        .description-container{
         display: none;
        }
      }
    }
  }
}
