@media (max-width: 768px) {


   /* .intoduction-profile-img{
    width: 150px;
   } */
}

p{
  text-align: justify;
}
.social-media-icon{
  transition: 400ms;
  opacity: 0.8;
}

.social-media-icon:hover{
  transition: 400ms;

  opacity: 1;
}


.date-picker{
  width: 25%;
  min-width: 200px;
}


.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: #e0d4c4;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    background: linear-gradient(to right, transparent, #805444, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: #805444;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #805444;
    background-color: #e0d4c4;
  }
}

.appointment-table-container{
  max-height: 400px;
  overflow-y: auto;
}

