<div class="mt-0 d-flex flex-column my-5">
  <!--Introduction (non-fragment)-->
  <div class="introduction">
    <div class="intro-title-box text-wrap">
      <p>Precizitás és megbízhatóság minden ékszerben!</p>
    </div>
    <div class="intro-text-box d-flex align-items-center flex-wrap">
      <div class="line"></div>
      <p class="m-0">Dunakeszi, Kazinczy utca 11.</p>
    </div>
  </div>
  <!--Ékszer készítése-->
  <div #jewelryMaking id="jewelryMaking" class="jewelryMaking-container">
    <!--Details section-->
    <div class="details-section">
      <div class="img-container">
        <div class="title-mobile-view-container">
          <div class="line"></div>
          <span class="title">Teremtsd meg egyedi stílusod!</span>
        </div>
        <img src="/assets/images/jewelryMaking_img.png" />
      </div>
      <div class="text-container">
        <div class="title-container">
          <div class="line"></div>
          <span class="title">Teremtsd meg egyedi stílusod!</span>
        </div>
        <div class="description-container">
          <span class="description">
            Kínálatunkban egyedi, személyre szabott ékszerek széles választéka
            található, amelyeket az Ön elképzelései alapján készítünk el. Legyen
            szó gyűrűről, nyakláncról vagy karkötőről, minden darab különleges
            figyelmet kap. Az Ön stílusához és igényeihez igazodva, egyedi
            tervezésű ékszereink nemcsak a megjelenését varázsolják egyedivé,
            hanem érzelmi értéket is hordoznak. Válasszon minket, és viselje
            büszkén!
          </span>
        </div>
      </div>
    </div>

    <!--Image section-->
    <div
      class="image-section d-flex flex-wrap justify-content-center align-items-end"
    >
      <!-- Text column -->
      <div class="img1 m-1">
        <img src="/assets/images/jewelryMaking_img_1_1.png" />
      </div>
      <div class="img2 m-1">
        <img src="/assets/images/jewelryMaking_img_1_3.png" />
      </div>
      <div class="img3 m-1">
        <img src="/assets/images/jewelryMaking_img_1_2.png" />
      </div>
    </div>
  </div>

  <!--Gyűrűk-->
  <div #rings id="rings" class="rings-container fragment-container">
    <div class="details-section">
      <!--Title+Description-->
      <div class="text-container">
        <div class="title-container">
          <div class="line"></div>
          <span class="title">3000+ Jegygyűrű egy helyen!</span>
        </div>
        <div class="description-container">
          <span class="description">
            Nálunk a jegygyűrűk széles választéka várja Önt! Katalógusunkban
            közel 3000 különböző jegygyűrű található, így biztosan megtalálja az
            ideális darabot. Az egyedi ékszerek mellett segítünk azoknak is,
            akiknek még nincsenek konkrét ötleteik, de szeretnének
            elköteleződni. Fedezze fel kínálatunkat, és találja meg a tökéletes
            jegygyűrűt életének legszebb pillanatára!
          </span>
        </div>
      </div>

      <!--Image (with title, which is visible in mobile view only)-->
      <div class="img-container">
        <img src="/assets/images/rings_img.png" />
        <div class="description-mobile-view-container">
          <span class="description text-wrap">
            Nálunk a jegygyűrűk széles választéka várja Önt! Katalógusunkban
            közel 3000 különböző jegygyűrű található, így biztosan megtalálja az
            ideális darabot. Az egyedi ékszerek mellett segítünk azoknak is,
            akiknek még nincsenek konkrét ötleteik, de szeretnének
            elköteleződni. Fedezze fel kínálatunkat, és találja meg a tökéletes
            jegygyűrűt életének legszebb pillanatára!
          </span>
        </div>
      </div>
    </div>
  </div>

  <!--Tanácsadás-->
  <div
    #counseling
    id="counseling"
    class="counseling-container fragment-container"
  >
    <div class="details-section">
      <!--Title+Description-->
      <div class="text-container">
        <div class="title-container">
          <div class="line"></div>
          <span class="title"
            >Válasszátok ki együtt a tökéletes karikagyűrűt!</span
          >
        </div>
        <div class="description-container">
          <span class="description">
            Az eljegyzést követően érdemes ellátogatnotok hozzánk, ahol együtt
            választhatjátok ki karikagyűrűiteket. Kínálatunkban számos lehetőség
            vár, beleértve az egyedi tervezésű gyűrűket is. Ha van egy
            elképzelésetek, szívesen segítünk azt megvalósítani, de ha még
            nincsenek ötleteitek, szakértőink örömmel útmutatást adnak a
            megfelelő választáshoz. Ünnepeljétek a szeretetet a tökéletes
            karikagyűrűvel!
          </span>
        </div>
      </div>

      <!--Image (with title, which is visible in mobile view only)-->
      <div class="img-container">
        <img src="/assets/images/counseling_img.png" />
        <div class="description-mobile-view-container">
          <span class="description text-wrap">
            Nálunk a jegygyűrűk széles választéka várja Önt! Katalógusunkban
            közel 3000 különböző jegygyűrű található, így biztosan megtalálja az
            ideális darabot. Az egyedi ékszerek mellett segítünk azoknak is,
            akiknek még nincsenek konkrét ötleteik, de szeretnének
            elköteleződni. Fedezze fel kínálatunkat, és találja meg a tökéletes
            jegygyűrűt életének legszebb pillanatára!
          </span>
        </div>
      </div>
    </div>
  </div>

  <!--Ékszerjavítás-->
  <div
    #jeweleryRepairing
    id="jeweleryRepairing"
    class="jeweleryRepairing-container fragment-container"
  >
    <div class="details-section">
      <!--Title+Description-->
      <div class="text-container">
        <div class="title-container">
          <div class="line"></div>
          <span class="title">Ékszerek gyors javítása és átalakítása!</span>
        </div>
        <div class="description-container">
          <span class="description">
            Ékszerek javítására és átalakítására szakosodtunk, így ha elszakadt
            a láncod vagy bármilyen más problémád van ékszereddel, fordulj
            hozzánk bizalommal! Szakképzett csapatunk gyorsan és profi módon
            helyreállítja kedvenc darabjaidat, legyen szó egyszerű javításról
            vagy bonyolultabb átalakításról. Hozd be hozzánk ékszereidet, és
            élvezd újra a ragyogását!
          </span>
        </div>
      </div>

      <!--Image (with title, which is visible in mobile view only)-->
      <div class="img-container">
        <img src="/assets/images/jeweleryRepairing_img.png" />
        <div class="description-mobile-view-container">
          <span class="description text-wrap">
            Nálunk a jegygyűrűk széles választéka várja Önt! Katalógusunkban
            közel 3000 különböző jegygyűrű található, így biztosan megtalálja az
            ideális darabot. Az egyedi ékszerek mellett segítünk azoknak is,
            akiknek még nincsenek konkrét ötleteik, de szeretnének
            elköteleződni. Fedezze fel kínálatunkat, és találja meg a tökéletes
            jegygyűrűt életének legszebb pillanatára!
          </span>
        </div>
      </div>
    </div>
  </div>

  <!--Arany és ékszerfelvásárlás-->
  <div
    #goldAndJewelAcquisition
    id="goldAndJewelAcquisition"
    class="goldAndJewelAcquisition-container fragment-container d-flex flex-column align-items-center"
  >
    <div class="text-container my-5">
      <span class="text">Keressen minket bizalommal.</span>
    </div>

    <div class="title-container my-2">
      <span class="title">Arany és ékszerfelvásárlás</span>
      <div class="line"></div>
    </div>
  </div>

  <!--Kapcsolat-->
  <div
    #contact
    id="contact"
    class="contact-container fragment-container text-center my-5"
  >
    <div class="fragment-title d-flex align-items-center">
      <h3 class="">Elérhetőségek</h3>
    </div>

    <p class="">kapcsolati linkek</p>
  </div>
</div>
