<div class="container d-flex flex-column my-5">
  <!--Bemutatkozás-->

  <div #introduction id="introduction" class="introduction-container pt-5 mt-5">
    <div class="fragment-title d-flex justify-content-center">
      <mat-icon class="mt-1 mx-2 dark-brown-text">face</mat-icon>
      <h3 class="dark-brown-text">BEMUTATKOZÁS</h3>
    </div>

    <div class="d-flex align-items-center">
      <div class="w-50 p-2">
        <p class="dark-brown-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla .
        </p>
      </div>

      <div class="w-50 p-2">
        <img
          class="intoduction-profile-img img-fluid"
          src="assets/csabi_allokep_minta.png"
        />
      </div>
    </div>
  </div>

  <hr class="hr-text dark-brown-text" data-content="NS-ÉKSZER" />

  <!--Katalógus-->
  <div
    #catalog
    id="catalog"
    class="catalog-container fragment-container text-center my-5"
  >
    <div class="pseudo-div" style="height: 100px"></div>
    <div class="fragment-title d-flex align-items-center">
      <mat-icon class="mb-2 mx-2 dark-brown-text">library_books</mat-icon>
      <h3 class="dark-brown-text">KATALÓGUS</h3>
    </div>

    <p class="dark-brown-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
    <div class="my-3">
      <button (click)="openCatalog()" class="btn btn-dark">Open catalog</button>
    </div>
  </div>
  <hr class="hr-text dark-brown-text" data-content="NS-ÉKSZER" />

  <!--TÖRTARANYFELVÁSÁRLÁS-->
  <div
    #goldbarbuy
    id="goldbarbuy"
    class="goldbarbuy-container fragment-container text-center my-5"
  >
    <div class="pseudo-div" style="height: 100px"></div>
    <div class="fragment-title d-flex align-items-center">
      <mat-icon class="mb-2 mx-2 dark-brown-text">monetization_on</mat-icon>
      <h3 class="dark-brown-text">TÖRTARANYFELVÁSÁRLÁS</h3>
    </div>

    <p class="dark-brown-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
  </div>
  <hr class="hr-text dark-brown-text" data-content="NS-ÉKSZER" />

  <!--Időpont foglalás-->
  <div
    #scheduleAppointment
    id="scheduleAppointment"
    class="scheduleAppointment-container fragment-container text-center my-5"
  >
    <div class="pseudo-div" style="height: 100px"></div>
    <div class="fragment-title d-flex align-items-center">
      <mat-icon class="mb-2 mx-2 dark-brown-text">calendar_today</mat-icon>
      <h3 class="dark-brown-text">IDŐPONT FOGLALÁS</h3>
    </div>

    <p class="dark-brown-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
    <div class="date-picker mx-auto mt-5">
      <form
        class="dark-brown-border rounded p-1"
        (submit)="onAppointmentSelected(inputForm)"
        #inputForm="ngForm"
      >
        <label class="dark-brown-text" for="inputDate"
          >Válasszon időpontot:</label
        >
        <div class="d-flex justify-content-center">
          <input
            id="inputDate"
            name="inputDate"
            style="visibility: hidden; width: 0"
            class="form-control p-0"
            [matDatepicker]="picker"
            [matDatepickerFilter]="filterDates"
            [min]="currentDate"
            [(ngModel)]="selectedDate"
            required
            (dateChange)="fetchReservedHours($event)"
          />
          <p class="my-auto pt-1 dark-brown-text">
            {{ selectedDate | date : "YYYY-MM-dd" }}
          </p>

          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>

          <mat-datepicker #picker></mat-datepicker>
        </div>

        <!-- Time Dropdown -->
        <label class="dark-brown-text" for="startHour">óra</label>
        <select
          id="startHour"
          name="startHour"
          class="form-control"
          [(ngModel)]="selectedTime"
          required
        >
          <option *ngFor="let hour of availableHours" [value]="hour">
            {{ hour }}
          </option>
        </select>

        <!-- Name Input -->
        <label class="dark-brown-text" for="name">Név:</label>
        <input
          id="name"
          class="form-control"
          name="name"
          type="text"
          [(ngModel)]="name"
          required
        />

        <!-- Email Input -->
        <label class="dark-brown-text" for="email">e-mail:</label>
        <input
          id="email"
          class="form-control"
          name="email"
          type="email"
          [(ngModel)]="email"
          required
        />

        <div class="submit-button-container d-flex justify-content-center my-2">
          <button class="btn btn-secondary" type="submit">Küldés</button>
        </div>
      </form>
    </div>

    <!--Időpontok (admin only)-->

    <div *ngIf="isLoggedIn" class="appointments my-5">
      <h5>Időpontok</h5>

      <div class="appointment-table-container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Név</th>
              <th scope="col">E-mail</th>
              <th scope="col">Időpont</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let appointment of reservedAppointments">
              <td>{{ appointment.client.name }}</td>
              <td>{{ appointment.client.email }}</td>
              <td>{{ appointment.date | date : "YYYY-MM-dd HH:mm" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr class="hr-text dark-brown-text" data-content="NS-ÉKSZER" />

  <!--Kapcsolat-->
  <div
    #contact
    id="contact"
    class="contact-container fragment-container text-center my-5"
  >
    <div class="pseudo-div" style="height: 80px"></div>
    <div class="fragment-title d-flex align-items-center">
      <mat-icon class="mb-2 mx-2 dark-brown-text">contact_phone</mat-icon>
      <h3 class="dark-brown-text">KAPCSOLAT</h3>
    </div>

    <p class="dark-brown-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
    <div class="my-3">
      <a
        class="mx-1 social-media-icon"
        href="https://www.facebook.com/profile.php?id=100070797541712"
        target="_blank"
      >
        <img src="assets/facebook-logo.svg" />
      </a>

      <a
        class="mx-1 social-media-icon"
        href="https://www.instagram.com/"
        target="_blank"
      >
        <img src="assets/instagram-icon.svg" />
      </a>

      <a
        class="mx-1 social-media-icon"
        href="https://www.tiktok.com/"
        target="_blank"
      >
        <img src="assets/tiktok-logo-colored.svg" />
      </a>

      <a
        class="mx-1 social-media-icon"
        href="https://www.linkedin.com/"
        target="_blank"
      >
        <img src="assets/linkedin-icon.svg" />
      </a>
    </div>
  </div>
</div>
