<div class="pseudo-div" style="height: 100px"></div>
<div class="container w-25">
  <form
    class="p-2 my-5 dark-brown-border rounded"
    (submit)="onSubmitRegistration(inputForm)"
    #inputForm="ngForm"
  >
    <div class="username d-flex flex-column my-2">
      <!-- <label>Felhasználónév</label>
      <input
        type="text"
        name="username"
        class="form-control"
        placeholder="Felhasználónév"
        ngModel
        #username="ngModel"
        required
      /> -->

      <mat-form-field>
        <mat-label>Felhasználónév</mat-label>
        <input
          matInput
          id="email"
          name="username"
          type="text"
          ngModel
          required
        />
      </mat-form-field>
    </div>

    <div class="password d-flex flex-column my-2">
      <!--  <label>Jelszó</label>
      <input
        type="password"
        name="password"
        class="form-control"
        placeholder="Jelszó"
        ngModel
        #password="ngModel"
        required
      /> -->

      <mat-form-field>
        <mat-label>Jelszó</mat-label>
        <input
          matInput
          id="password"
          name="password"
          type="password"
          ngModel
          required
        />
      </mat-form-field>
    </div>

    <div class="passwordConfirm d-flex flex-column my-2">
      <!-- <label>Jelszó</label>
      <input
        type="password"
        name="passwordConfirm"
        class="form-control"
        placeholder="Jelszó megerősítése"
        ngModel
        #passwordConfirm="ngModel"
        required
      /> -->

      <mat-form-field>
        <mat-label>Jelszó</mat-label>
        <input
          matInput
          id="passwordConfirm"
          name="passwordConfirm"
          type="password"
          ngModel
          required
        />
      </mat-form-field>
    </div>
    <div class="submit-button-container d-flex justify-content-center my-2">
      <button *ngIf="!isLoading" class="btn btn-secondary" type="submit">
        Új admin hozzáadása
      </button>
    </div>
  </form>
</div>
<div class="w-100 d-flex justify-content-center">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
