.business-card {
  max-width: 400px;
  background-color: #f9ede7;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  color: #6d4c41;
  margin: auto;

  .logo {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    margin-bottom: 15px;

    &::before {
      content: "";
      display: inline-block;
      width: 40px;
      height: 40px;
      //background: url("/ns-ekszer-frontend/assets/ns-logo-dark.png") no-repeat center center;
      background: url("https://www.off-the-road.de/media/image/4d/b0/3a/UFS-CP-T700-SW-Crosspro-Aluminium-Motorschutz-Yamaha-Tenere-700-1_600x600.jpg") no-repeat center center;

      background-size: contain;
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  .contact {
    margin: 15px 0;

    h2 {
      font-size: 18px;
      margin-bottom: 5px;
    }

    p {
      margin: 2px 0;
      font-size: 14px;
    }

    a {
      color: #6d4c41;
      text-decoration: none;
      font-weight: bold;
    }
  }

  .hours {
    margin: 15px 0;

    h3 {
      font-size: 16px;
      font-weight: bold;
    }

    p {
      font-size: 14px;
    }
  }

  .website {
    margin-top: 10px;

    a {
      color: #6d4c41;
      text-decoration: none;
      font-weight: bold;
      font-size: 14px;
    }
  }
}
