<nav
  class="navbar navbar-expand-lg dark-brown-bg fixed-top"
  (mousedown)="startLoginNavigationPress()"
  (mouseup)="endLoginNavigationPress()"
  (mouseleave)="endLoginNavigationPress()"
  (touchstart)="startLoginNavigationPress()"
  (touchend)="endLoginNavigationPress()"
  (touchcancel)="endLoginNavigationPress()"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img src="assets/ns-logo-light.png" style="width: 60px; height: 60px"
    /></a>

    <button
      class="navbar-toggler light-brown-text"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon light-brown-text"></span>
    </button>
    <div
      #navbarSupportedContent
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active light-brown-text"
            aria-current="page"
            [routerLink]="['/home']"
            fragment="introduction"
            (click)="collapseNavbar()"
            >BEMUTATKOZÁS</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link light-brown-text"
            [routerLink]="['/home']"
            fragment="catalog"
            (click)="collapseNavbar()"
            >KATALÓGUS</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link light-brown-text"
            [routerLink]="['/home']"
            fragment="goldbarbuy"
            (click)="collapseNavbar()"
            >TÖRTARANYFELVÁSÁRLÁS</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link light-brown-text"
            [routerLink]="['/home']"
            fragment="scheduleAppointment"
            (click)="collapseNavbar()"
            >IDŐPONT FOGLALÁS</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link light-brown-text"
            [routerLink]="['/home']"
            fragment="contact"
            (click)="collapseNavbar()"
            >KAPCSOLAT</a
          >
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li *ngIf="isLoggedIn" class="nav-item">
          <div class="dropdown">
            <button
              class="btn light-brown-bg dropdown-toggle admin-button"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ username }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a
                  class="dropdown-item"
                  style="cursor: pointer"
                  (click)="logout()"
                  >Log out</a
                >
              </li>
            </ul>
          </div>
        </li>

        <li *ngIf="isLoggedIn" class="nav-item">
          <a
            (click)="collapseNavbar()"
            class="nav-link light-brown-text"
            [routerLink]="['/signup']"
            >REGISZTRÁCIÓ</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
