
//DESKTOP VIEW->
@media only screen and (min-width: 992px){
   .navbar{
    background-color: rgba(228, 221, 218,0.6);
    box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    height: 64px;
  }
  .collapse, .social-media-icons{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    min-width: 108px;
  }

  .navbar-nav{
    .nav-item{
      margin: 10px;

      .nav-link{
        position: relative;
        text-decoration: none;
         .nav-link-name{
          transition: 200ms;
          margin: 0;
          color: #000;
          text-align: center;
          font-family: Joly;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

      }
    }
    .nav-item:hover{
      .nav-link-name{
        transition: 200ms;
        color: #785445 !important
      }
    }
  }
}



//MOBILE VIEW->
  @media only screen and (max-width: 991px) {

    .navbar{

      top: 22px;
      max-width: 100vw;
      background-color: rgba(228, 221, 218,0.7);
      box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(5px);
    }

    hr {
      border: none;
      height: 2px;
      background-color: #785445;
      opacity: 0.8;
    }

    .container-fluid {
      .ns-ekszer-logo-svg {
        width: 178px;
        height: 74px;
      }
      .social-media-icons{
        margin: 1rem !important;
        margin-top: 3rem !important
      }
      .social-media-svg-icon {
        width: 48px;
        height: 48px;
      }
       .navbar-collapse.show {
        border-bottom: 5px solid #785445;
      }
    }

    .nav-link{
      margin: 0;
      padding: 0;
    }
    .nav-link-name{
      color: #000;
      text-align: center;
      font-family: Joly;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
      padding: 0;
    }

    .navbar-toggler  {
      border: none;
    }

    .navbar-toggler:focus {
      box-shadow: 0 0 0 0;
    }

  }
