/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "bootstrap/scss/bootstrap";


body{
  font-family: Joly;
}

.mat-mdc-snack-bar-container {
  width: 80%;
  &.danger-snackbar {
    --mdc-snackbar-container-color: #ff1303;
    --mdc-snackbar-supporting-text-color: #272725;
  }
  &.success-snackbar {
    --mdc-snackbar-container-color: #51FF12;
    --mdc-snackbar-supporting-text-color: #272725;
  }
  &.notification-snackbar {
    --mdc-snackbar-container-color: #272725;
    --mdc-snackbar-supporting-text-color: #EBE8E8;
  }
}


.mat-mdc-progress-spinner circle, .mat-mdc-spinner circle {
  position: absolute;
  stroke: red;

}

