/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "bootstrap/scss/bootstrap";


$custom-colors: (
    "dark-brown": #805444,
    "light-brown": #e0d4c4
);

.dark-brown-bg {
  background-color: #805444;
}

.dark-brown-border {
  border-style: solid;
  border-width: 1px;
  border-color: #805444;
}

.dark-brown-text {
  color: #805444;
}

.light-brown-bg {
  background-color: #e0d4c4;
}

.light-brown-border {
  border-style: solid;
  border-width: 1px;
  border-color: #e0d4c4;
}
.light-brown-text {
  color: #e0d4c4 !important;
}


.mat-mdc-snack-bar-container {
  width: 80%;
  &.danger-snackbar {
    --mdc-snackbar-container-color: #ff1303;
    --mdc-snackbar-supporting-text-color: #272725;
  }
  &.success-snackbar {
    --mdc-snackbar-container-color: #51FF12;
    --mdc-snackbar-supporting-text-color: #272725;
  }
  &.notification-snackbar {
    --mdc-snackbar-container-color: #272725;
    --mdc-snackbar-supporting-text-color: #EBE8E8;
  }
}


.mat-mdc-progress-spinner circle, .mat-mdc-spinner circle {
  position: absolute;
  stroke: red;

}

